@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

:root {
  --checkbox-border                           : #aaaaaa;
  --checkbox-foreground                       : #aaaaaa;
  --scrollbar-background                      : #dfdfdf;
  --scrollbar-track-background                : rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-background                : rgba(0, 0, 0, 0.25);

  --editor-input-container-background         : #dddddd;
  --editor-input-container-border             : #bbbbbb;
  --editor-input-container-foreground         : #888888;
  --editor-button-hover-fill                  : #555555;
  --editor-button-hover-stroke                : #555555;
  --editor-date-header-background             : #bbbbbb;
  --editor-date-header-button-fill            : #cccccc;
  --editor-date-header-button-fill-hover      : #eeeeee;
  --editor-date-week-background               : #999999;
  --editor-date-week-forefround               : #eeeeee;
  --editor-date-day-background                : #fefefe;
  --editor-date-day-border                    : #cccccc;
  --editor-date-day-border-hover              : #ff0000;
  --editor-date-today-background              : #dbf5ff;
  --editor-date-today-border                  : #aaaaaa;
  --editor-date-selected-day-background       : #dddddd;
  --editor-date-selected-day-border           : #aaaaaa;
  --editor-autocomplete-search-background     : #dddddd;
  --editor-autocomplete-search-border         : #aaaaaa;
  --editor-autocomplete-search-foreground     : #888888;
  --editor-autocomplete-search-button         : #aaaaaa;
  --editor-autocomplete-search-button-hover   : #555555;
  --editor-options-background-selected        : #dddddd;
  --editor-options-border-selected            : #888888;
  --editor-options-border-hover               : #aaaaaa;
  --editor-options-foreground                 : #888888;

  --accordion-header-background               : #d2d2d2;
  --accordion-header-background-hover         : #cacaca;
  --accordion-header-border                   : #aaaaaa;
  --accordion-header-border-hover             : #aaaaaa;
  --accordion-header-foreground               : #777777;
  --accordion-header-foreground-hover         : #777777;
  --accordion-panel-background                : #f0f0f0;
  --accordion-panel-border                    : #aaaaaa;
  --accordion-panel-foreground                : #777777;
  
  --dashboard-thumbnail-panel-background      : #fefefe;
  --dashboard-thumbnail-background            : #f00;
  --dashboard-thumbnail-border                : #ffd699;
  --dashboard-thumbnail-border-hover          : #ff9900;
  --dashboard-thumbnail-color                 : #060606;
  --dashboard-thumbnail-button-background     : #eeeeee;
  --dashboard-thumbnail-button-border-hover   : #cccccc;
  --dashboard-thumbnail-button-stroke         : #aaaaaa;
  --dashboard-thumbnail-button-stroke-hover   : #cccccc;
  --dashboard-splitter-background             : #fefefe;
  --dashboard-splitter-border                 : #fefefe;
  --dashboard-splitter-button                 : #aaaaaa;
  --dashboard-splitter-button-hover           : #aaaaaa;

  --filter-editor-background                  : rgba(0, 0, 0, 0);
  --filter-editor-border                      : rgba(0, 0, 0, 0.2);
  --filter-editor-button                      : #cccccc;

  --pg-background                             : #e7e7e7;    //#fefefe;
  --pg-border                                 : #aaaaaa;
  --pg-foreground                             : #888888;
  --pg-star-foreground                        : #888888;
  --pg-foreground-disabled                    : #888888;
  --pg-property-name-width                    : 120px;
  --pg-editor-background                      : #e1e1e1;
  --pg-editor-border                          : #888888;
  --pg-editor-button                          : #aaaaaa;
  --pg-editor-button-hover                    : #555555;
  --pg-editor-focus-background                : #f1fbff;
  --pg-error-foreground                       : #ff0000;
  --pg-header-background                      : #fefefe;
  --pg-header-hover-background                : #fefefe;
  --pg-header-border                          : #fefefe;
  --pg-header-foreground                      : #fefefe;
  --pg-header-hover-foreground                : #fefefe;

  --grid-background                           : #fefefe;
  --grid-throbber                             : url("./throbber_light.gif") center center no-repeat;
  --grid-sort-up                              : url("./sort-up.png") center center no-repeat;
  --grid-sort-down                            : url("./sort-down.png") center center no-repeat;
  --grid-header-container-background          : #e4e4e4;
  --grid-header-container-border              : #bbbbbb;
  --grid-header-container-foreground          : #888888;
  --grid-data-border                          : #dadada;
  --grid-data-foreground                      : #000000;
  --grid-data-group-foreground                : #444444;
  --grid-data-row-highlight                   : #dbf5ff;
  --grid-data-first-background                : #e4e4e4;
  --grid-data-first-border                    : #dadada;
  --grid-footer-background                    : #e2e2e2;
  --grid-footer-border                        : #bbbbbb;
  --grid-footer-foreground                    : #888888;
  --grid-footer-input-container-background    : #e0e0e0;
  --grid-footer-input-container-background-hovered : #f6f6f6;
  --grid-footer-input-container-foreground    : #888888;
  --grid-footer-action-background-hover       : #dddddd;
  --grid-footer-action-border-hover           : #cccccc;
  --grid-footer-action-splitter-background    : #ffffff;
  --grid-footer-action-splitter-border        : #afafaf;
  --grid-footer-pager-button-background-hover : #d4d4d4;
  --grid-footer-pager-button-border-hover     : #cccccc;
  --grid-footer-pager-button-fill             : #c4c4c4;
  --grid-footer-pager-button-fill-hover       : #c4c4c4;
  --grid-footer-pager-cointer-border          : #cccccc;
  --grid-footer-pager-cointer-foreground      : #888888;

  --window-background                         : #fefefe;
  --window-border                             : #777777;
  --window-shadow                             : #888888;
  --window-header-background                  : #dedede;
  --window-header-button-background           : #ffffff;
  --window-header-foreground                  : #777777;
  --window-header-border                      : #bbbbbb;
  --window-header-button-border               : #cccccc;
  --window-header-button-border-content       : #aaaaaa;
  --window-header-button-border-content-hover : #444444;
  --window-footer-background                  : #dedede;
  --window-footer-border                      : #bbbbbb;
  --window-footer-button-background           : #eeeeee;
  --window-footer-button-border               : #bbbbbb;
  --window-footer-button-content-border       : #aaaaaa;
  --window-footer-button-content-hover-border : #444444;
  --window-footer-foreground                  : #555555;
  --window-footer-text-foreground             : #555555;
  --window-footer-button-foreground           : #888888;
  --window-footer-button-hover-foreground     : #000000;
  --window-content-background                 : #ff0;
  --window-content-border                     : #bbbbbb;
  --window-content-foreground                 : #555555;

  --tooltip-background                        : #ffeb99;
  --tooltip-border                            : #ffeb99;
  --tooltip-foreground                        : #444;

  --contextmenu-background                    : #eeeeee;
  --contextmenu-background-item-hover         : #dff6ff;
  --contextmenu-border                        : #bbbbbb;
  --contextmenu-border-item-hover             : #0c6ad6;
  --contextmenu-foreground                    : #666666;
  --contextmenu-foreground-disabled           : #aaaaaa;
  --contextmenu-splitter-background           : #ffffff;
  --contextmenu-splitter-border               : #aaaaaa;
  --contextmenu-splitter-border-left          : #bbbbbb;

  --tabs-background                           : #f1f1f1;
  --tabs-background-header                    : #838383;
  --tabs-background-header-hover              : #ffffff;
  --tabs-background-header-active             : #ffffff;
  --tabs-background-content-start             : #ffffff;
  --tabs-background-content-end               : #ffffff;
  --tabs-border                               : #cccccc;
  --tabs-border-header                        : transparent;
  --tabs-border-header-bottom                 : #cccccc;
  --tabs-border-header-hover                  : #cccccc;
  --tabs-border-header-active                 : #cccccc;
  --tabs-border-header-active-bottom          : transparent;
  --tabs-foreground                           : #000000;  

  --background-ribbon                         : #838383;
  --background-ribbon-tab-home-start          : #3879db;
  --background-ribbon-tab-home-end            : #99c0f7;
  --background-ribbon-tab-home-header         : #5196f7;
  --background-ribbon-tab-home-header-hover   : #3d89f4;
  --background-ribbon-tab-header-hover        : #838383;
  --background-ribbon-tab-header-sel          : #545454;
  --background-ribbon-tab-start               : #545454;
  --background-ribbon-tab-end                 : #d6d6d6;
  --background-ribbon-section-start           : #c3c3c3;
  --background-ribbon-section-end             : #757575;
  --background-ribbon-button-big              : #fef8db;
  --background-ribbon-button-big-hover        : #fdeeb3;
  --border-ribbon                             : #cccccc;
  --border-ribbon-tab-home                    : #1f48a1;
  --border-ribbon-tab-home-bottom             : #3879db;
  --border-ribbon-tab-header-sel              : #b6babf;
  --border-ribbon-tab-header-sel-bottom       : #545454;
  --border-ribbon-tab                         : #fefefe;
  --border-ribbon-section-sep-left            : #545454;
  --border-ribbon-section-sep-right           : #d6d6d6;
  --border-ribbon-button-big                  : #6d8dd2;
  --border-ribbon-button-big-hover            : #b07f03;
  --foreground-ribbon                         : #fefefe;
  --foreground-ribbon-tab-home                : #000000;
  --foreground-ribbon-tab-home-hover          : #000000;
  --foreground-ribbon-tab                     : #fefefe;
  --foreground-ribbon-tab-hover               : #fefefe;
  --foreground-ribbon-tab-button-big          : #444444;

  --splitter-background-main                  : #f1f1f1;
  --splitter-background                       : #eeeeee;
  --splitter-background-button-fill           : #888888;
  --splitter-background-button-stroke         : #888888;
  --splitter-background-button-fill-hover     : #444444;
  --splitter-background-button-stroke-hover   : #444444;
  --splitter-border                           : #cccccc;
  --splitter-panel-border                     : #777777;

  --organizer-search-container-background     : #444444;
  --organizer-search-container-border         : #888888;
  --organizer-search-foreground               : #aaaaaa;

  --slide-message-background                  : #4f4f4f;
  --slide-message-border                      : #aaaaaa;
  --slide-message-foreground                  : #444444;

  --tree-node-background-selected             : #b5e8fd;
  --tree-node-background-hovered              : #caf0ff;
  --tree-node-border                          : #02b0f5;
  --tree-node-foreground                      : #999999;
  --tree-node-check-foreground                : #f00;

  --table-structure-background                : #f2f2f2;
  --table-structure-border                    : #cccccc;
  --table-structure-foreground                : #bbbbbb;
  --table-structure-search-button-hover       : #777777;
}
